In [42]:
import dash
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html

from plotly import graph_objs as go
from datetime import datetime, date
import calendar
import json
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df_fund_data = pd.read_csv('https://plot.ly/~jackp/17534.csv')
df_fund_data

                                         A       B
0                          No. of holdings  378.00
1                              % in top 10   49.00
2   Historical Volatility Portfolio - 3 yr    4.15
3         Historical Tracking Error - 3 yr    4.14
4                    Excess Returns - 3 yr   -1.32
5                                 R - 3 yr    0.04
6                              Beta - 3 yr    9.55
7                        Swing Pricing (%)     NaN
8                         Subscription (%)    0.12
9                           Redemption (%)    0.12
10         Initial Sales Charge: up to (%)    5.50
11                Performance Fee Rate (%)   20.00
12       (1) Total Expense Ratio (TER) (%)    1.25
13                      Management Fee (%)    1.00
14                    Distribution Fee (%)    0.00

In [7]:
df_perf_summary = pd.read_csv('https://plot.ly/~jackp/17530.csv')
df_perf_summary

,Col1,Since Launch,1 Mth,3 Mths,YTD,1 Yr,3 Yrs,5 Yrs,10 Yrs
0,NaN,Since Launch,1 Mth,3 Mths,YTD,1 Yr,3 Yrs,5 Yrs,10 Yrs
1,Base Shares,23.87,0.22,0.61,0.61,3.65,'-0.82,1.89,2.25
2,3 Month Libor (USD),15.96,0.1,0.27,0.27,0.87,0.51,0.43,1.07
3,Other Currency Shares (EUR-Hedged),20.09,0.06,0.21,0.21,2.24,'-1.48,1.46,2.09
4,ICE Libor EUR 3 Month (EUR),15.7,'-0.03,'-0.09,'-0.09,'-0.32,'-0.09,0.04,1.19
5,Other Currency Shares (GBP-Hedged),27.77,0.16,0.45,0.45,3.19,'-0.86,2.03,2.54
6,3 Month LIBOR - GBP,21.76,0.03,0.09,0.09,0.44,0.53,0.56,1.61

In [8]:
df_cal_year = pd.read_csv('https://plot.ly/~jackp/17528.csv')
df_cal_year

                  Col1    Col2    Col3    Col4    Col5    Col6
0                  NaN  2012.0  2013.0  2014.0  2015.0  2016.0
1          Base Shares    10.2     5.7    -3.0    -0.7     1.4
2  3 Month Libor (USD)     0.4     0.3     0.2     0.3     0.8

In [9]:
df_perf_pc = pd.read_csv('https://plot.ly/~jackp/17532.csv')

In [17]:
def make_dash_table(df):
    table = []
    for index, row in df.iterrows():
        html_row = []
        for i in range(len(row)):
            html_row.append( html.Td([  row[i]  ]) )
        table.append( html.Tr( html_row ) )
    return table

In [18]:
modifed_perf_table = make_dash_table(df_perf_summary)

In [19]:
modifed_perf_table

[Tr([Td([nan]), Td(['Since Launch']), Td(['1 Mth']), Td(['3 Mths']), Td(['YTD']), Td(['1 Yr']), Td(['3 Yrs']), Td(['5 Yrs']), Td(['10 Yrs'])]),
 Tr([Td(['Base Shares']), Td(['23.87']), Td(['0.22']), Td(['0.61']), Td(['0.61']), Td(['3.65']), Td(["'-0.82"]), Td(['1.89']), Td(['2.25'])]),
 Tr([Td(['3 Month Libor (USD)']), Td(['15.96']), Td(['0.1']), Td(['0.27']), Td(['0.27']), Td(['0.87']), Td(['0.51']), Td(['0.43']), Td(['1.07'])]),
 Tr([Td(['Other Currency Shares (EUR-Hedged)']), Td(['20.09']), Td(['0.06']), Td(['0.21']), Td(['0.21']), Td(['2.24']), Td(["'-1.48"]), Td(['1.46']), Td(['2.09'])]),
 Tr([Td(['ICE Libor EUR 3 Month (EUR)']), Td(['15.7']), Td(["'-0.03"]), Td(["'-0.09"]), Td(["'-0.09"]), Td(["'-0.32"]), Td(["'-0.09"]), Td(['0.04']), Td(['1.19'])]),
 Tr([Td(['Other Currency Shares (GBP-Hedged)']), Td(['27.77']), Td(['0.16']), Td(['0.45']), Td(['0.45']), Td(['3.19']), Td(["'-0.86"]), Td(['2.03']), Td(['2.54'])]),
 Tr([Td(['3 Month LIBOR - GBP']), Td(['21.76']), Td(['0.03']), Td(['0.09']), Td(['0.09']), Td(['0.44']), Td(['0.53']), Td(['0.56']), Td(['1.61'])])]

In [20]:
modifed_perf_table.insert(
    0, html.Tr( [
                    html.Td([]),
                    html.Td(['Cumulative'],  colSpan=4,  style=dict(textAlign="center")),
                    html.Td(['Annualized'], colSpan=4, style=dict(textAligh="center")),
             ], style= dict (background='white', fontweight=600)
    )
)

In [21]:
df_fund_info = pd.read_csv('https://plot.ly/~jackp/17544.csv')
df_fund_characteristics = pd.read_csv('https://plot.ly/~jackp/17542.csv')
df_fund_facts = pd.read_csv('https://plot.ly/~jackp/17540.csv')
df_bond_allocation = pd.read_csv('https://plot.ly/~jackp/17538.csv')

In [22]:
dash.__version__

'0.19.0'

In [43]:
t = date.today()
t_year = t.year
t_month = t.month
t_day = t.day

In [50]:
month_index = {}
for i, v in enumerate(calendar.month_abbr):
    month_index[i] = v

In [52]:
month_index[12]

'Dec'